<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="com.antlersoft.bbq_eclipse.builder.BBQBuilder"
         name="Browse-By-Query Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.antlersoft.bbq_eclipse.builder.BBQBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.antlersoft.bbq_eclipse.builder.BBQNature"
         name="Browse-By-Query Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.antlersoft.bbq_eclipse.builder.BBQNature">
         </run>
      </runtime>
      <builder
            id="com.antlersoft.bbq_eclipse.builder.BBQBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.antlersoft.bbq_eclipse.project_nature_contribution">
         <action
               class="com.antlersoft.bbq_eclipse.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/weber.gif"
               id="com.antlersoft.bbq_eclipse.addRemoveNatureAction"
               label="Include in Browse-By-Query DB"
               menubarPath="additions"
               state="false"
               style="toggle">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.antlersoft.bbq_eclipse.views.QueryView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.antlersoft.bbq_eclipse.ViewCategory"
            name="BBQ Category"/>
      <view
            allowMultiple="false"
            category="com.antlersoft.bbq_eclipse.ViewCategory"
            class="com.antlersoft.bbq_eclipse.views.QueryView"
            icon="icons/weber.gif"
            id="com.antlersoft.bbq_eclipse.views.QueryView"
            name="Browse-By-Query View"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.antlersoft.bbq_eclipse.preferences.PreferencePage"
            id="com.antlersoft.bbq_eclipse.preferences.PreferencePage"
            name="Browse-By-Query Preferences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.antlersoft.bbq_eclipse.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         id="QueryResultView"
         point="org.eclipse.search.searchResultViewPages">
         <viewPage
         id="com.antlersoft.bbq_eclipse.searchresult.QueryResultView"
         class="com.antlersoft.bbq_eclipse.searchresult.QueryResultView"
         searchResultClass="com.antlersoft.bbq_eclipse.searchresult.QueryResult" />
   </extension>

</plugin>
