<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="com.antlersoft.bbqBuilder"
         name="Browse-By-Query Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.antlersoft.bbq_eclipse.builder.BBQBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.antlersoft.bbqNature"
         name="Browse-By-Query Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.antlersoft.bbq_eclipse.builder.BBQNature">
         </run>
      </runtime>
      <builder
            id="bbq_eclipse.com.antlersoft.bbqBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="bbq_eclipse.contribution1">
         <action
               label="Add/Remove Sample Nature"
               class="com.antlersoft.bbq_eclipse.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="bbq_eclipse.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.antlersoft.bbq_eclipse.views.QueryView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="bbq_eclipse"
            name="BBQ Category"/>
      <view
            allowMultiple="false"
            category="bbq_eclipse"
            class="com.antlersoft.bbq_eclipse.views.QueryView"
            icon="icons/sample.gif"
            id="com.antlersoft.bbq_eclipse.views.QueryView"
            name="Browse-By-Query View"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.antlersoft.bbq_eclipse.preferences.PreferencePage"
            id="com.antlersoft.bbq_eclipse.preferences.PreferencePage"
            name="Browse-By-Query Preferences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.antlersoft.bbq_eclipse.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
   </extension>

</plugin>
